/* This file is required for Pliant widget in the mobile app */

.wrapper {
  width: 200px;
  padding-left: 0px;
  padding-right: 0px;
/*   height: 200px; */
  /* This is a single-line comment */

  background-color: transparent;
/*   background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}
.pliant-field-value > .pliant-field-expiry-value-text {
  font-size: 13px !important;
  padding-left: 0;
  margin-left: 0;
/*   color: green !important; */
}
.pliant-field-value > .pliant-field-pan-value-text {
  font-size: 12.5px !important;
/*   color: green !important; */
}

.pliant-pci-widget {
  background: none;
  border: 2px solid blue;
  padding-left: 0;
  margin-left: 0;
}

.pliant-preloaded-data-overlay {
  background: none;
}

  


/* .pliant-expiry-cvv-result {
  margin-top: 2.797vh; /** 12/316*100 **/
} */
