/* This file is required for Pliant widget in the mobile app */

.wrapper {
  width: 350px;
  height: 200px;
  /* This is a single-line comment */

  background-color: green;
/*   background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}
.pliant-field-value > .pliant-field-expiry-value-text {
  font-size: 3px !important;
  color: 'green' !important;
}
.pliant-field-value > .pliant-field-pan-value-text {
  font-size: 10px !important;
  color: 'green' !important;
}
  


.pliant-expiry-cvv-result {
  margin-top: 2.797vh; /** 12/316*100 **/
}
