* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
.container {
  display: flex;
  padding: 0px;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.4s ease;
}

.block:hover {
  flex: 2;
  transition: flex 0.4s ease;
}
.block > div {
  flex: 1;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
}

.block > div iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}



.block_hover {
  flex: 2;
  z-index: 10000;

}
.header {
  height: 80px;
  padding: 15px;
  width: 100%;
  background-image: url("https://yt3.ggpht.com/YPSSlo2uKnxUMIKDn3bz_VBDPDgFj8Zs1XD6jq8XhpvOrxmxEHteqaxIKh8JmDOkjHs1VtH1BlY=w1440-fcrop64=1,32b75a57cd48a5a8-k-c0xffffffff-no-nd-rj");
  background-position: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: contain;
  border-bottom: 2.5px solid green;
}
.header a, .header > button {
  cursor: pointer;
  color: #436a87;
  letter-spacing: 2px;
  font-size: 16px;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  margin: 10px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0,0,0, 0.6);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center
}
.modal-show {
  display: flex;
}
.modal > div {
  padding: 30px;
  background-color: #eee;
  border-radius: 4px;
  position: relative;
}
.close {
  cursor: pointer;
  width: 28px;
  cursor: pointer;
  height: 28px;
  color: #fff;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
}
.items {
  width: 100px;
  height: 100px;
  background-color: #436a87;

}
